{{define "subject"}}Reset your APP_NAME password{{end}}

{{define "plainBody"}}
Hi,

To activate your APP_NAME account please visit https://example.com/users/password and 
enter the following code along with your new password:

{"token": "{{.passwordResetToken}}"}

Please note that this is a one-time use token and it will expire in 45 minutes. If you need another password reset
link please visit https://example.com/tokens/password-reset.

Thanks,

The APP_NAME Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p>Hi,</p>
    <p>
    To activate your APP_NAME account please visit https://example.com/users/password and 
    enter the following code along with your new password:
    </p>
    <pre><code>
    {"token": "{{.passwordResetToken}}"}
    </code></pre>  
    <p>
    Please note that this is a one-time use token and it will expire in 45 minutes.
    If you need another password reset link please visit https://example.com/tokens/password-reset.
    </p>
    <p>Thanks,</p>
    <p>The APP_NAME Team</p>
  </body>
</html>
{{end}}
